interface:
  display_name: "{{DISPLAY_NAME}}"
  short_description: "{{ONE_LINE_EN}}"
  icon_small: "./assets/{{SKILL_NAME}}-small.svg"
  icon_large: "./assets/{{SKILL_NAME}}-card.svg"
  brand_color: "{{BRAND_COLOR}}"
  default_prompt: "Use {{SKILL_NAME}} to produce the verified output."
